/* --------Root-------- */
:root {
    --primary-color: #e7ad4a;
    --primary-color-dark: #c69642;
    --bg-dark: #0f1113;
    --text-dark: #212327;
    --text-light: #b8c0cf;
    --text-grey: #9da5b4;
    --content-rem-size: 10rem;
}
/* ========Root==== */

/* --------Header-------- */
.header {
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    align-items: center;
    display: flex;
    position: sticky;
    width: 100%;
    height: 13vh;
}

.logo {
    display: flex;
    position: sticky;
}

.logo a {
    color: var(--text-light);
    transition: 0.3s;
}

.logo a:hover {
    color: var(--primary-color);
}

.logo a:focus {
    color: var(--primary-color);
}

.navbar {
    display: flex;
}

.navbar .checkbox {
    display: none;
}

.navbar .checkbox i {
    cursor: pointer;
}

.hamburger-menu {
    fill: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.3s;
}

.hamburger-menu:hover {
    fill: var(--primary-color);
}

.navbar input {
    display: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    transition: left 0.3s;
}

.navbar ul li a {
    padding: 0.25rem 0.5rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: var(--text-light);
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    
}

.navbar ul li a:focus {
    color: var(--primary-color);
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    
}

@media (width < 768px) {
    .header {
        height: 10vh;
    }

    .navbar .checkbox {
        display: block;
    }

    .navbar ul {
        position: absolute;
        width: 70%;
        height: 100vh;
        top: 8vh;
        left: -125%;
        gap: 25px;
        padding-top: 20px;
        padding-right: 20px;
        background: rgba(0, 0, 0, 0.55);
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar #check:checked ~ ul {
        left: -150px;
    }
}
/* ========Header======== */

/* --------Body-------- */
.section {
    background-color: rgba(0, 0, 0, 0.55);
    color: var(--text-light);
    height: 100%;
    min-height: 87vh;
    /* overflow-x: hidden; */
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
}

.subtitle {
    color: var(--text-grey);
    font-weight: 600;
    letter-spacing: 15px;
}

.title {
    color: white;
    letter-spacing: 5px;
}

.content .title span {
    font-weight: bold;
    color: var(--primary-color);
}

.description {
    color: var(--text-light);
    margin-bottom: 1.5rem;
}

.btn-flex {
    display: flex;
    gap: 1rem;
}

.buttons {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    height: 50px;
}

.btn1 {
    background-color: var(--primary-color);
    color: var(--text-dark);
    transition: 0.3s;
}

.btn1:hover {
    background-color: var(--primary-color-dark);
    color: white;
}

.btn2 {
    background-color: white;
    color: var(--text-dark);
    transition: 0.3s;
}

.btn2:hover {
    background-color: var(--primary-color-dark);
    color: white;
}

.image {
    display: flex;
    align-items: center;
}

.image img {
    width: 90%;
    max-width: 450px;
    border: 2px solid var(--primary-color);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (width < 768px) {
    .section {
        text-align: center;
        min-height: 100vh;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .content {
        padding: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
    }

    .image {
        margin-bottom: 2rem;
        grid-area: 1/1/2/2;
    }

    .buttons {
        margin: auto;
    }
}

@media (width = 992px) {
    .section {
        text-align: center;
        min-height: 100vh;
        grid-template-columns: repeat(1, 1fr);
    }

    .content {
        padding: 0;
        padding-left: var(--content-rem-size);
        padding-right: var(--content-rem-size);
        margin-bottom: 4rem;

    }

    .image {
        margin-bottom: 2rem;
        grid-area: 1/1/2/2;
    }

    .buttons {
        margin: auto;
    }
}
/* ========Body======== */

/* --------Tags-------- */
body {
    background-color: var(--bg-dark);
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}
/* ========Tags======== */

/* --------Extras-------- */

/* ========Extras======== */